.header {
    font-weight: bold;
    color: #00140b;
}

body {
    background-color: #487a64;
}

header {
    background-color: #487a64;
}

.input-field {
    width: 150px;
    height: 30px;
    padding: 5px;
    border: 1px solid #00140b;
    border-radius: 10px;
}

.select {
    width: 125px;
    height: 30px;
    border: 1px solid #00140b;
    border-radius: 10px;
}

.form-label {
    font-size: 16px;
    color: #00140b;
    margin-bottom: 10px;
    margin-right: 5px;
    margin-left: 5px;
}

input[type="radio"]:checked + label {
    color: #487a64;
}

.button {
    background-color: #c5dcc2;
    color: #00140b;
    border-color: #00140b;
    border-radius: 10px;
    padding: 2px 6px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #6f9e88;
}

.navbar-custom {
    background-color: #5a855f;
}

.defaultPage {
    background-color: #e3f1e6;
}

.App {
    text-align: center;
}

.parent-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.App-header {
    background-color: #5a855f;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: initial;
    font-size: calc(10px + 2vmin);
    color: white;
    height: 65vh;

}

.logInOut {
    background-color: #c5dcc2;
    color: #00140b;
    border-color: #00140b;
    border-radius: 10px;
    padding: 2px 6px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 16px;
    cursor: pointer;

}

.button-container {
    position: absolute;
    top: 10px;
    right: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.button-big {
    background-color: #c5dcc2;
    color: #00140b;
    border-color: #00140b;
    border-radius: 10px;
    width: 80vw;
    padding: 2vh 6vw;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 32px;
    cursor: pointer;
}

.button-big:hover {
    background-color: #6f9e88;
    padding: 6vh 12vw;
}

@media screen and (min-width: 768px) {
    .pie-chart {
        max-width: 400px;
        max-height: 300px;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
}
